.gameBoard {
  height: 100vh;
  width: 100%;
}

.player1,
.player2 {
  display: block;
  position: relative;
  height: 50vh;
  width: 100%;
}

/* PLAYER ONE */

.player1 {
  border-bottom: 5px solid green;
}

.player1 .deck {
  color: green;
  position: absolute;
  top: 10px;
  left: 10px;
}

/* PLAYER TWO */

.player2 {
  border-top: 5px solid blue;
}

.player2 .deck {
  color: blue;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
